version: '3.8'

services:
  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
      - '$PWD/vol:/host:ro,rslave'
  promethus:
    image: prom/prometheus
    volumes: 
     -  '$PWD/prometheus.yml:/etc/prometheus/prometheus.yml'
    restart: always
    ports:
      - '9090:9090'
  grafana:
    image: grafana/grafana-enterprise
    ports:
      - '3001:3000'
    restart: always
  cadvisor:
    image: google/cadvisor
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    expose:
      - 8080
    ports:
      - "8080:8080"
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge

    
